@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
body{
font-family: overpass;
background-color: hsl(216, 12%, 8%);
}
h1{
    color: white;
}
.container {
    /* top/bottom = 7rem left/right = centered/auto */
    margin: 7rem auto;
    background-color: hsl(213, 19%, 18%);
    border-radius: 15px;
    padding: 3rem;
     max-width: 300px;
}
.orangeCaptionStyling {
    display: inline-block;
    font-size: 15px;
    border: none;
    padding: 10px;
     background-color: hsl(216, 4%, 23%);
     border-radius: 15px;
    color: #9B6845;
    text-align: center;
}
.caption {
    color: hsl(217, 12%, 63%);
    font-size: 15px;
}
.ratings {
    display: flex;
    justify-content: center;
    padding: 1rem;
    gap: 1rem;
}
/* hide radio circle */
.ratings input[type="radio"] {
    position: absolute;
    opacity: 0;
}
.ratings label {
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsl(217, 12%, 63%);
    background-color: hsl(216, 4%, 23%);
    border: none;
    border-radius: 50%;
width: 50px;
height: 50px;
text-align: center;
    cursor: pointer;
}
.ratings label:hover{
background-color: hsl(25, 97%, 53%);
color: black;
}
/* when ratings are selected */
.ratings input:checked + label {
 background-color: white;
 color: black;
}
.submit {
    display: block;
    text-transform: uppercase;
    font-weight: 700;
    display: block;
    width: 100%;
    margin: auto;
    border-radius: 15px;
    padding: 10px;
    background-color: hsl(25, 97%, 53%);
    cursor: pointer;
}
.submit:hover {
    background-color: white;
color: black;
}
/* @media (min-width: 500px) {
.container{
    margin: 7rem auto;
}
} */